<!DOCTYPE html>
<html>
<head>
    <title>CAS Analytics</title>
    <base href="/">

    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="bower_components/iids/dist/iidx/css/iids.min.css"/>
    <link type="text/css" rel="stylesheet" href="bower_components/iids/dist/iidx/css/responsive.min.css"/>

     <!--[if lt IE 9]>
    <link id="theme-ie" type="text/css" rel="stylesheet" href="bower_components/iids/dist/iidx/css/ie.min.css"/>
    <![endif]-->

    <link type="text/css" rel="stylesheet" href="stylesheets/main.min.css"/>
    <!--<link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>-->
    <link type="text/css" rel="stylesheet" href="stylesheets/cards.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-comments/css/jquery-comments.css">

    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link type="text/css" rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>

    <link rel="import" href="bower_components/px-context-browser/px-context-browser.html"/>
    <link rel="import" href="bower_components/px-login/px-login.html"/>

    <script type='application/javascript' src='cf-env.js'></script>
    

</head>

<body class="app" data-ng-controller="MainCtrl">

<div class="navbar navbar-default navbar-static-top templatecontainer">

  <div class="predix-alert">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
      {{alert.msg}} &nbsp;
      <span ng-if="alert.detail">
        <i class="icon-question-sign" ng-click="alert.showDetail=!alert.showDetail;"></i>
        <span ng-show="alert.showDetail" ng-bind="alert.detail"></span>
      </span>
    </alert>
  </div>

  <div class="container">
    <div class="masthead navbar-header">
      <a class="navbar-brand" href="#">
        <span class="ge-logo"></span>
        <span>Predix Analytics
          <small><i>powered by</i> GE CAS</small>
        </span>
      </a>
    </div>
    <div class="navbar-header pull-right">
      <px-login></px-login>
    </div>
  </div>

  <div class="primary-navbar navbar-collapse">
    <div class="container">
      <ul class="nav navbar-nav" data-ng-cloak="">
        <li ui-sref-active="active" data-ng-repeat="tab in App.tabs" xtab="tab">
          <a ui-sref="{{tab.state}}">{{tab.label}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<!-- MAIN CONTENT -->
<div class="content container" ui-view>
<!-- This is the container where the tabs will render -->


<!-- Stuff goes here -->


<!-- Card template -->
<div id="card"> 
<div class="front">
<main id="card-container">
  <h2>Risk Analytic - XXX</h2>
  <div class="img-wrapper">
      <img src="images/samplechart.jpg" alt="Just Background">
  </div>
  <p class="detail">Click the Button to see the "Material Animation". Works great on modern browser.</p>

	 <div class="button-wrapper-left">
	      <div class="layer"></div>
          <button class="cardbutton flip-button fa fa-info">
          </button>
      </div>

  <div class="button-wrapper">
      <div class="layer"></div>
      <button class="cardbutton main-button fa fa-info">
          <div class="ripple"></div>
      </button>
  </div>


  <div class="layered-content">
      <button class="cardbutton close-button fa fa-times"></button>
      
      
      <!-- Info epansion content-->
      <div class="content">
          <img src="images/warning.png" alt="Bubble">
          <p>Sample risk</p>
      </div>
      
  </div>
</main>
</div>
<div class="back">
	<main id="card-container">
    
	<div id="comments-container"></div>

	<div class="button-wrapper-left">
	      <div class="layer"></div>
          <button class="cardbutton flip-button fa fa-info">
          </button>
      </div>
    </main>
</div>
</div>

<!--
<div class="container">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
</div>-->


</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/flip/dist/jquery.flip.js"></script>
<script type="text/javascript" src="bower_components/jquery-comments/data/comments-data.js"></script>
<script type="text/javascript" src="bower_components/jquery-comments/js/jquery-comments.js"></script>
<script src="scripts/modules/cards.js"></script>
<script src="scripts/modules/comments.js"></script>
<script type='application/javascript'
        data-main='scripts/bootstrapper.js'
        src='bower_components/iids/dist/iidx/components/requirejs/require.js'></script>
</body>
</html>

<!--<!DOCTYPE html>
<html>
<head>
  <title>Security Starter Node Application</title>
  <link rel="stylesheet" href="stylesheets/style.css"></link>
</head>
<body>
  <div class="header">
    <h2>Security Starter Node Application</h2>
    <h4>Predix Developer Kit</h4>
  </div>
  <div class="container">
    <h2>Welcome to a Secure Page.</h2>
    <p>This page is gated by the check_token call of UAA.</p>

    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</body>
</html>-->
